page-launchpad-list {

  ion-card {
    padding: 12px 6px;
    margin-bottom: 24px !important;
  }

  .location {
    cursor: pointer;
  }

  .location:hover {
    color: #488aff;
  }

  ion-card-content h2 {
    color: #488aff !important;
  }

  .btn-rocket {
    padding: 12px !important;
    background-color: #488aff;
  }
}
