<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1 text-center *ngIf="launch != null">{{launch.mission_name}}  <span>n° {{launch.flight_number}}</span></h1>
  
  <ul center>
    <li *ngIf="days!==0">{{days}} d</li>
    <li>{{hours}} h</li>
    <li>{{minutes}} m</li>
    <li>{{secondes}} s</li>
  </ul>

  <h4>Rocket details</h4>
  <span *ngIf="launch?.rocket != null">{{launch?.rocket.rocket_name}}</span>
  <span *ngIf="launch?.rocket != null">{{launch?.rocket.rocket_type}}</span>
  

  <ion-badge  *ngIf="launch?.links.video_link != null" color ="danger" onclick="window.open('launch?.links.video_link','_system', 'location=yes')">Youtube Live</ion-badge>


</ion-content>