page-lauch-list {

}

.launch-failed {
  color: #FFF;
  background-color: #f53d3d !important;;
  text-decoration: none;

  font-weight: bold;

  &:active {
    background-color: #f53d3d !important;
  }
}

.launch-success{
  color: #FFF;
  background-color: #32db64 !important;;
  text-decoration: none;

  font-weight: bold;

  &:active {
    background-color: #32db64 !important;;
  }
}
.icon-lauches {
  width: 40px;
  height: auto;

}
