<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Launches</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="defaultPropertie" color="primary">
      <ion-segment-button value="arrow-back" (click)="pastLaunches()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="arrow-down" (click)="allLaunches()">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="arrow-forward" (click)="nextLaunches()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <button ion-item *ngFor="let launch of launches" (click)="viewDetailsLaunche(launch)">
      <img class="icon-lauches" src="{{ launch.links.mission_patch_small }}"/>
      <span>{{ launch.mission_name }}</span>
      <div class="item-note" item-end>
        {{ launch.launch_year }}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>test</b>
  </div>
</ion-content>
