<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Capsules</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let capsule of capsules">
    <ion-card (click)="capsuleDetailPage(capsule)">

      <ion-card-content text-center color="primary">
        <h1>
          <b>{{ capsule.name }}</b>
        </h1>
      </ion-card-content>

      <ion-item>
        <ion-icon name="information-circle" item-start></ion-icon>
        <h2>Status</h2>
        <ion-badge color="green" *ngIf="capsule.active==true">
          Active
        </ion-badge>
        <ion-badge color="red" *ngIf="capsule.active==false">
          Inactive
        </ion-badge>
      </ion-item>

    </ion-card>
  </div>
</ion-content>
